.box {
    display: flex;
    flex-direction: column;
    background-color:rgb(220, 220, 220);
    border: 1px solid black;
    border-radius: 20px;
    width: 300px;
    margin: auto;
    align-items: center;
    padding: 20px;
}

.input-info {
    width: 80%;
    padding: 10px;
}

.login-btn {
    width: 100px;
    color:black;
    border: 1px solid black;
    padding: 10px;
}