.center {
    justify-items:center;
    place-items:center;
}

.box {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    width: 300px;
    margin:50px;
    align-items: center;
    padding: 20px;
}

.input-info {
    width: 80%;
    padding: 10px;
    background-color:white;
}

.button.login-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--card-bg);
    border: 2px solid var(--text-color);
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    flex-shrink: 0;
    max-width: 200px;
    text-align: center;
    white-space: nowrap;
}

.button.login-btn:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

@font-face {
    font-family: 'MagnoliaScript';
    src: url('../assets/MagnoliaScript.woff2') format('woff2'),
         url('../assets/MagnoliaScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Apply MagnoliaScript font only to the fitchck title */
.page .center h1.title {
    font-family: 'MagnoliaScript', sans-serif;
}
